@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "GillSans";
    src: url("../fonts/GillSans.otf") format("opentype");
}

:root {
    --blanc: #ffffff;
    --brun: #6b6042;
    --orange: #a2822d;
    --bleu: #0c2b4a;
    --rose: #f893cb;
    --vert: #55c154;
    --jaune: #eaeb25;
}

/*---------------------------------------------------------- 
# Styles Généraux
----------------------------------------------------------*/ 

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: "GillSans";
    color: var(--blanc);
}

h1 {
    font-family: "OpenSans";
    font-size: 3vw;
    top: 2%;
    text-align: center;
}

p {
    font-size: 1.5vw;
}

/*---------------------------------------------------------- 
# Styles Header
----------------------------------------------------------*/ 

header {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url("../img/img-arriere-plan/00-intro.jpg");
    background-size: cover;
    background-position: center;
}

.headerDescription {
    text-align: center;
}

.headerCTA {
    position: absolute;
    width: 8vw;
    bottom: 10%;
    left: 46vw;
}

.headerCopyright {
    font-size: 10px;
    position: absolute;
    bottom: 1%;
    left: 0;
}

/*---------------------------------------------------------- 
# Styles Footer
----------------------------------------------------------*/ 

footer {
    background-color: var(--bleu);
    position: relative;
}

.footerText {
    top: 2%;
}

/*---------------------------------------------------------- 
# Styles commun des chapitres
----------------------------------------------------------*/ 

section {
    border: 1px solid red;
    width: 100vw;
    height: 105vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.chapter {
    border: 1px solid #ff0000;
}

.item {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}

/*---------------------------------------------------------- 
# Chapitre 1
----------------------------------------------------------*/ 

.chapter-1 {
    background-image: url("../img/img-arriere-plan/01-maison-vide.jpg");
}

/*---------------------------------------------------------- 
# Chapitre 2
----------------------------------------------------------*/ 

.chapter-2 {
    background-image: url("../img/img-arriere-plan/02-espace.jpg");
    height: 420vh;
}

/*---------------------------------------------------------- 
# Chapitre 3
----------------------------------------------------------*/ 

.chapter-3 {
    background-image: url("../img/img-arriere-plan/03-jungle.jpg");
}

/*---------------------------------------------------------- 
# Chapitre 4
----------------------------------------------------------*/ 

.chapter-4 {
    background-image: url("../img/img-arriere-plan/04-hanter.jpg");
}

/*---------------------------------------------------------- 
# Chapitre 5
----------------------------------------------------------*/ 

.chapter-5 {
    background-image: url("../img/img-arriere-plan/05-volcan.jpg");
}

/*---------------------------------------------------------- 
# Chapitre 6
----------------------------------------------------------*/ 

.chapter-6 {
    background-image: url("../img/img-arriere-plan/06-maison-pleine.jpg");
}

/*---------------------------------------------------------- 
# Spritesheets
----------------------------------------------------------*/ 

@keyframes portal {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -500% 0;
    }
}

@keyframes door {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -800% 0;
    }
}

.spritesheetBG {
    height: 1000vh;
    background-color: var(--bleu);
}

.portal {
    animation-name: portal;
    animation-play-state: paused;
    aspect-ratio: 1 / 1;
    height: 30vw;
    background-size: 500% 100%;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(5);
}

.ss-chapter-01 {
    background-image: url("../img/img-elements-visuels/00-portail-maison-vide.png");
}

.ss-chapter-02 {
    background-image: url("../img/img-elements-visuels/01-portail-espace.png");
    transform: rotate(-90deg);
}

.ss-chapter-03 {
    background-image: url("../img/img-elements-visuels/02-portail-jungle.png");
    transform: rotate(90deg);
}

.ss-chapter-04 {
    background-image: url("../img/img-elements-visuels/03-portail-hanter.png");
}

.ss-chapter-06 {
    background-image: url("../img/img-elements-visuels/05-portail-porte.png");
    animation-play-state: paused;
    aspect-ratio: 511 / 791;
    height: 30vw;
    background-size: 800% 100%;
    animation-name: door;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(8);
}

.is-scrolling .ss-chapter-01, .is-scrolling .ss-chapter-02, .is-scrolling .ss-chapter-03, .is-scrolling .ss-chapter-04, .is-scrolling .ss-chapter-06 {
    animation-play-state: running;
}