@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "GillSans";
    src: url("../fonts/GillSans.otf") format("opentype");
}

:root {
    --blanc: #ffffff;
    --brun: #6b6042;
    --orange: #a2822d;
    --bleu: #0c2b4a;
    --rose: #f893cb;
    --vert: #55c154;
    --jaune: #eaeb25;
}

* {
    margin: 0;
    box-sizing: content-box;
}

body {
    overflow-x: hidden;
    font-family: "GillSans";
    color: var(--blanc);
}

header {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/img_arriere_plan/00_intro.jpg");
    background-size: cover;
    background-position: center;
}

section {
    border: 1px solid red;
    width: auto;
    height: 100vh;
    background-size: cover;
}

.chapter {
    border: 1px solid #ff0000;
}

.chapter-1 {
    background-image: url("../img/img_arriere_plan/01_maison_vide.jpg");
}

.chapter-2 {
    background-image: url("../img/img_arriere_plan/02_espace.jpg");
}

.chapter-3 {
    background-image: url("../img/img_arriere_plan/03_jungle.jpg");
}

.chapter-4 {
    background-image: url("../img/img_arriere_plan/04_hanter.jpg");
}

.chapter-5 {
    background-image: url("../img/img_arriere_plan/05_volcan.jpg");
}

.chapter-6 {
    background-image: url("../img/img_arriere_plan/06_maison_pleine.jpg");
}

h1 {
    font-family: "OpenSans";
    font-size: 3vw;
    margin-top: 1vh;
    text-align: center;
}

p {
    font-size: 1.5vw;
    margin-top: 0.5vh;
}

.headerCTA {
    width: 4.5vw;
    margin-top: 69vh;
}